@white: #fff;
@black: #000;

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body {
    font-family: 'Product Sans';
    background: @black;
    overflow: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 25px 25px 0 0;
    a {
        padding-left: 20px;
        font-size: 1.5em;
        text-decoration: none;
        color: @white;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}